---
import Layout from "@/layouts/Layout.astro";
import { jsxToTxt } from "@/lib/jsxToTxt";
import { Markdown } from "@astropub/md";
import { TabsReact } from "./_TabsReact";

const text = await jsxToTxt("Tabs");
---

<Layout title="Accordion">
  <div class="flex flex-col gap-8">
    <h3 class="text-2xl font-bold">Component</h3>
    <TabsReact client:load />

    <h3 class="text-2xl font-bold">Code</h3>
    <Markdown of={text} />
  </div>
</Layout>
