---
import Layout from "@/layouts/Layout.astro";
import { jsxToTxt } from "@/lib/jsxToTxt";
import { Markdown } from "@astropub/md";
import { ButtonReact } from "./_ButtonReact";

const text = await jsxToTxt("Button");
---

<Layout title="Button">
  <div class="flex flex-col gap-8">
    <h3 class="text-2xl font-bold">Component</h3>
    <ButtonReact client:load />

    <h3 class="text-2xl font-bold">Code</h3>
    <Markdown of={text} />
  </div>
</Layout>
