---
import { ModeToggle } from "./ModeToggle";
---

<nav class="max-w-6xl m-auto py-8 flex justify-between">
  <a href="/" class="text-3xl font-bold">Shadcn/ui with Astro</a>
  <ModeToggle client:load />
</nav>
